.side {
    animation: side 1s ease-in-out,
}

.icon {
    animation: icon 0.5s ease-in-out;
}

.in {
    animation: In 1.2s ease-in-out;
}

.out {
    animation: Out 1.2s ease-in-out;
}

@keyframes side {
    0% {
        width: 0;
    }

    100% {
        width: 60px;
    }
}

@keyframes In {
    0% {
        left: -50px;
    }
    100% {
        left: 5px;
    }
}

@keyframes Out {
    0% {
        left: 5px;
    }
    100% {
        left: -50px;
    }
}

@keyframes icon {
    0% {
        font-size: 20px;
        opacity: 0;
    }

    100% {
        font-size: 35px;
        opacity: 1;
    }
}